@media(max-width: 980px)
  :root
    --radius: 20px
    --margin: 80px

  .wrapper
    overflow: hidden

  .sidebar
    width: 100%
    position: relative
    padding: 15px 0 0
    height: auto
    min-height: 0
    flex-direction: row
    align-items: center
    justify-content: space-between
    &-logo
      img
        height: 36px
    &-burger
      display: flex
      height: 36px
      width: 34px
      @include flexbox
      flex-direction: column
      align-items: flex-end
      justify-content: center
      cursor: pointer
      span
        height: 2px
        border-radius: 4px
        background: var(--color-black)
        margin: 4px 0
        display: block
        transition: .25s
        &:first-child
          width: 34px
        &:last-child
          width: 22px
      &.open
        span
          width: 20px
          margin: -1px 0
          &:first-child
            transform: rotate(45deg)
          &:last-child
            transform: rotate(-45deg)
  .sidebar
    .sidebar-nav,
    .sidebar-links,
    .sidebar-copy
      display: none

  .btn-contact
    top: 15px
    right: 64px
    position: absolute
    font-size: 14px
    gap: 5px
    padding: 11px
    &::before
      width: 8px
      height: 8px

  .main
    max-width: 100%
    width: 100%
    padding-bottom: 80px

  .title
    font-size: 32px
    margin-bottom: 20px

  .hero
    padding-top: 60px
    &-title
      font-size: 36px
      span
        &::after
          width: 158px
          height: 13px
    &-experts
      padding: 25px 20px
      p
        font-size: 14px
        margin-bottom: 10px
    &-slider
      img
        width: 46px
        height: 46px

  .price .title
    font-size: 24px

  .price-item
    width: 100% !important
    &__image
      height: 390px

  .work
    &-item
      padding: 25px 30px
      &__title
        width: 100%
        font-size: 22px
        padding-left: 24px
        br
          display: none
        &::before
          width: 10px
          height: 10px
          top: 8px
      &__text
        width: 100%
        font-size: 16px
        margin-top: 20px
        p
          margin-top: 14px

  .projects-item
    width: 100% !important
    &__image
      height: 480px
    &__title
      font-size: 24px
      br
        display: none
      &-label
        span
          right: 0
          top: 3px
    &__labels
      font-size: 14px
      top: 10px
      left: 10px
    a.projects-item__title
      padding-right: 32px
      &::after
        width: 24px
        height: 24px
        right: 0
        top: 5px
        background-size: cover
    &__text
      left: 20px
      right: 20px
      bottom: 20px
      font-size: 14px
      gap: 10px
      li
        width: 100% !important
        flex: initial !important
        br
          display: none
    &__quote
      border: 0
      padding-top: 0
      &-author
        width: 100%
        img
          width: 46px
          height: 46px
        span
          width: calc(100% - 46px - 12px)
        h4
          font-size: 16px
        p
          font-size: 14px
      &-text
        max-width: 100%
        font-size: 14px
        padding-left: 70px
        margin-top: 25px
        margin-right: 0
        &::before
          left: 0

  .expert
    padding: 25px 20px
    &-title
      font-size: 24px
    &-grid
      grid-template-columns: repeat(4, 1fr)

  .team-ceo
    &__image
      width: 100%
      height: 440px
    &__text
      width: 100%
      padding: 25px 20px
      ul
        max-width: 100%
        margin-top: 20px
  .team-block
    padding: 25px 20px
    .title
      font-size: 24px
  .team
    &-grid
      width: calc(100% + 50px)
    &-item
      width: calc(100% / 3)
      img
        width: 100%
        max-width: initial
        height: auto
        aspect-ratio: 1 / 1
      p
        font-size: 11px
        line-height: 14px
        padding: 2px 4px
        &::before
          width: 12px
          height: 12px
          background-size: cover
          top: -8px
          left: -8px
      &:nth-child(1),
      &:nth-child(3)
        p
          bottom: initial
          top: 16px
      &:nth-child(4),
      &:nth-child(6)
        p
          top: initial
          bottom: 16px
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3)
        padding-bottom: 0
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6)
        padding-top: 0
        margin-top: -25px

  .quiz
    &-wrapper
      height: 480px
    &-step
      padding: 25px 20px
      &__content
        width: 100%
      &__title
        font-size: 24px
      &__variables
        margin-top: 40px
        max-width: 100%
        width: 100%
        flex-direction: column
        padding: 0
        gap: 25px
        textarea
          max-width: 100%
    &-form
      flex-direction: column
      align-items: flex-start
      margin-top: 35px
      flex: 1
    &-input
      width: 100% !important
      flex: initial !important
      height: 52px
    &-btn
      margin-top: auto

  .quiz-manager
    align-items: flex-start
    span
      b
        font-size: 24px
        i
          &::before
            width: 92px
            height: 8px
            background-size: cover

  .media-item
    width: 100%
    &__image
      height: 360px
    &__title
      padding-right: 32px
      &::after
        right: 0
      &-label
        padding-right: 80px
        span
          right: 0

  .affiliate-make
    padding-top: 60px
    h4
      font-size: 16px
      max-width: 100%
  .affiliate-recommend
    h4
      font-size: 16px
      max-width: 100%

  .affiliate-how__item
    padding: 25px 20px
    font-size: 21px
    p
      padding-left: 24px
      &::before
        width: 10px
        height: 10px
        top: 7px

  .affiliate-how__table
    padding: 25px 20px
    &-row
      font-size: 24px
      span
        display: none
      p
        width: calc(100% / 2 - 10px)
        &:last-child
          text-align: right
      &:first-child
        font-size: 14px

  .affiliate-example ul
    padding: 30px 0 0
    li
      font-size: 18px
      padding-left: 45px

  .affiliate-more__block
    padding: 25px 20px
    h2
      font-size: 32px
      margin-bottom: 15px
    h3
      font-size: 18px
    ul
      li
        font-size: 18px
        padding-left: 45px
    h4
      font-size: 52px
      padding-left: 45px
      font-weight: 600
      span
        font-size: 18px
        margin-top: 10px
      &::before
        width: 240px
        height: 63px
        left: 10px
        top: -5px
    small
      font-size: 14px

  .manager
    img
      width: 100%
      height: 420px
    &-text
      width: 100%
      padding: 40px 25px 0
      p
        max-width: 100%

  .vacancy
    padding-top: 60px
    &-list
      font-size: 18px
      li
        margin-top: 10px

  .reviews
    left: 0
    right: 194px
    bottom: 20px
    margin: 0 auto
    opacity: 0
    pointer-events: none
    &::before
      content: ''
      position: absolute
      bottom: -5px
      left: 0
      right: 0
      margin: 0 auto
      width: 16px
      height: 6px
      background: url("data:image/svg+xml,%3Csvg width='32' height='12' viewBox='0 0 32 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1175_496)'%3E%3Cg filter='url(%23filter0_d_1175_496)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5439 9.07201C14.0865 11.7229 17.9158 11.7229 19.4584 9.07201L20.1029 7.9645C22.2518 4.27171 26.2021 2 30.4746 2H43C43.5523 2 44 1.55228 44 1V1C44 0.447715 43.5523 0 43 0H26.3757C25.6491 0 25.196 -0.787856 25.5615 -1.4159V-1.4159C27.1133 -4.08255 25.1895 -7.42773 22.1043 -7.42773H9.89805C6.81277 -7.42773 4.88904 -4.08254 6.4408 -1.4159V-1.4159C6.80627 -0.787855 6.3532 0 5.62656 0H-11C-11.5523 0 -12 0.447715 -12 1V1C-12 1.55228 -11.5523 2 -11 2H1.52769C5.80023 2 9.75052 4.27171 11.8994 7.96451L12.5439 9.07201Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_1175_496' x='-59.0375' y='-31.1958' width='150.075' height='112.563' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeMorphology radius='9.97261' operator='erode' in='SourceAlpha' result='effect1_dropShadow_1175_496'/%3E%3CfeOffset dy='23.2694'/%3E%3CfeGaussianBlur stdDeviation='28.505'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1175_496'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1175_496' result='shape'/%3E%3C/filter%3E%3CclipPath id='clip0_1175_496'%3E%3Crect width='32' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat center / cover
    &.hide
      right: 200px
      bottom: 80px
      opacity: 1
      pointer-events: auto

  .fixed-nav
    @include flexbox
    align-items: center
    justify-content: center
    position: fixed
    bottom: 10px
    left: 0
    right: 0
    z-index: 80
    gap: 10px
    li
      a
        @include flexbox
        align-items: center
        line-height: 12px
        font-weight: 500
        padding: 20px 22px
        border-radius: 99px
        background: #fff
        border: 1px solid rgba(209, 209, 209, 0.30)
        gap: 8px
        img
          width: 14px
          height: 14px
          border-radius: 100%
          object-fit: cover
          object-position: center
      &:last-child a
        background: var(--color-orange)
        border-color: var(--color-orange)
        color: #fff

  .concept
    padding-top: 60px
    .title span::after
      width: 175px
      height: 14px
      bottom: -9px
    form
      margin-top: 40px

  .thanks
    padding-top: 60px
    h3
      margin: 30px 0
      font-size: 16px

  .privacy
    padding-top: 60px
    h3
      font-size: 20px

  .sidebar
    background: #fff
    position: fixed
    top: 0
    left: 0
    right: 0
    padding: 15px
  .btn-contact
    position: fixed

  .wrapper
    padding-top: 51px
