<div class="sidebar">
  <a href="/" class="sidebar-logo"><img src="img/svg/logo.svg" alt=""></a>
  <ul class="sidebar-nav">
    <li><a href="#">Экспертность</a></li>
    <li><a href="#">Проекты</a></li>
    <li><a href="#">Команда</a></li>
    <li><a href="#">Партнерка</a></li>
    <li><a href="#">Медиа</a></li>
    <li><a href="#">Вакансии</a></li>
  </ul>
  <ul class="sidebar-links">
    <li class="orange"><a href="#">Бесплатный концепт</a></li>
    <li class="arrow"><a href="#">Скачать презентацию</a></li>
    <li><a href="#">Блог в Telegram</a></li>
  </ul>
  <div class="sidebar-copy">
    <p>2024 © BIRDLAB STUDIO</p>
    <a href="#">Политика конфиденциальности</a>
  </div>
</div>