<a href="https://t.me/daria_birdlab" target="_blank" class="btn-contact"><p>Связаться</p></a>

<div class="sidebar">
  <a href="/" class="sidebar-logo"><img src="img/svg/logo.svg" alt=""></a>
  <div class="sidebar-burger"><span></span><span></span></div>
  <ul class="sidebar-nav">
    <li><a href="{% if other %}index.html{% endif %}#price">Экспертность</a></li>
    <li><a href="{% if other %}index.html{% endif %}#projects">Проекты</a></li>
    <li><a href="{% if other %}index.html{% endif %}#team">Команда</a></li>
    <li><a href="affiliate.html">Партнерка</a></li>
    <li><a href="{% if other %}index.html{% endif %}#media">Медиа</a></li>
    <li><a href="vacancy.html">Вакансии</a></li>
  </ul>
  <ul class="sidebar-links">
    <li class="orange"><a href="concept.html" class="hover"><span class="back"><span></span></span><p>Бесплатный концепт</p></a></li>
    <li class="arrow"><a href="https://drive.google.com/file/d/12bocFNbd6h20r2fU5e6jUY8Z-bc3UM_X/view?usp=sharing" target="_blank">Скачать презентацию</a></li>
    <li class="tg"><a href="https://t.me/birdlab_studio" target="_blank">Тг</a></li>
    <li class="insta"><a href="https://www.instagram.com/birdlab.studio/" target="_blank">Инст</a></li>
  </ul>
  <div class="sidebar-copy">
    <p>2024 © BIRDLAB STUDIO</p>
    <a href="privacy.html">Политика конфиденциальности</a>
  </div>
</div>

<div class="sidebar-mobile">
  <div class="sidebar-nav__wrapper">
    <p>Навигация</p>
    <ul class="sidebar-nav">
      <li><a href="{% if other %}index.html{% endif %}#price">Экспертность</a></li>
      <li><a href="{% if other %}index.html{% endif %}#projects">Проекты</a></li>
      <li><a href="{% if other %}index.html{% endif %}#team">Команда</a></li>
      <li><a href="affiliate.html">Партнерка</a></li>
      <li><a href="{% if other %}index.html{% endif %}#media">Медиа</a></li>
      <li><a href="vacancy.html">Вакансии</a></li>
    </ul>
  </div>
  <ul class="sidebar-links">
    <li class="orange"><a href="concept.html" class="hover"><span class="back"><span></span></span><p>Бесплатный концепт</p></a></li>
    <li class="arrow"><a href="https://drive.google.com/file/d/12bocFNbd6h20r2fU5e6jUY8Z-bc3UM_X/view?usp=sharing" target="_blank">Скачать презентацию</a></li>
    <li class="tg"><a href="https://t.me/birdlab_studio" target="_blank">Тг</a></li>
    <li class="insta"><a href="https://www.instagram.com/birdlab.studio/" target="_blank">Инст</a></li>
  </ul>
  <div class="sidebar-copy">
    <p>2024 © BIRDLAB STUDIO</p>
    <a href="privacy.html">Политика конфиденциальности</a>
  </div>
</div>

<ul class="fixed-nav">
  <li><a href="javascript:;" class="reviews-open"><img src="img/reviews.jpg" alt="">Отзывы</a></li>
  <li><a href="concept.html">Бесплатный концепт</a></li>
</ul>