{% extends 'components/_layout.html' %}
{% set site_title = 'BirdLab - Бесплатный концепт' %}
{% set other = true %}

{% block content %}

<div class="concept">
  <h2 class="title">Оставьте заявку, чтобы увидеть концепцию вашего проекта <span>уже&nbsp;завтра</span></h2>
  <form action="send.php" enctype="multipart/form-data" method="post">
    <input type="text" name="name" placeholder="Ваше имя" />
    <input type="text" name="contact" placeholder="Ник или номер телефона в Telegram" required />
    <textarea name="comment" placeholder="Комментарий к заказу, если есть что добавить"></textarea>
    <label class="file">
      <input type="file" name="file" />
      <p><span>Прислать нам файл <i>до 25 mb</i></span></p>
    </label>
    <button type="submit">Отправить заявку</button>
    <input type="hidden" name="form" value="Бесплатный концепт" />
  </form>
</div>

{% endblock %}