{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<div class="price">
  <h2 class="title">Чем мы можем помочь</h2>
  <div class="price-grid">
    <div class="price-item price-item-sm">
      <div class="price-item__image"><img src="img/price-1.jpg" alt=""><span class="price-item__value">От 380 ₽ / слайд</span></div>
      <div class="price-item__text">
        <h3>Вебинары, гайды</h3>
        <p>Упакуем большой объем информации в доступный формат для спикера и аудитории</p>
      </div>
    </div>
    <div class="price-item price-item-md">
      <div class="price-item__image"><img src="img/price-2.jpg" alt=""><span class="price-item__value">От 450 ₽ / слайд</span></div>
      <div class="price-item__text">
        <h3>Выступления, марафоны, ивенты</h3>
        <p>Создадим удобную для спикера структуру и вау-визуал — все внимание будет вашим</p>
      </div>
    </div>
    <div class="price-item">
      <div class="price-item__image"><img src="img/price-3.jpg" alt=""><span class="price-item__value">От 70 000 ₽</span></div>
      <div class="price-item__text">
        <h3>Онлайн-курсы</h3>
        <p>Сделаем визуал для всех учебных материалов: понятный и запоминающийся</p>
      </div>
    </div>
    <div class="price-item price-item-md">
      <div class="price-item__image"><img src="img/price-4.jpg" alt=""><span class="price-item__value">От 40 000 ₽</span></div>
      <div class="price-item__text">
        <h3>Сайты</h3>
        <p>Максимально быстрая nocode-реализация на тильде с релевантным для аудитории дизайном. Сайты хай-левела на коде тоже делаем</p>
      </div>
    </div>
    <div class="price-item price-item-sm">
      <div class="price-item__image"><img src="img/price-5.jpg" alt=""><span class="price-item__value">От 15 000 ₽</span></div>
      <div class="price-item__text">
        <h3>GetСourse</h3>
        <p>Реализуем любой дизайн и геймификации на платформе</p>
      </div>
    </div>
    <div class="price-item">
      <div class="price-item__image"><img src="img/price-6.jpg" alt=""><span class="price-item__new">NEW</span><span class="price-item__value">От 25 000 ₽</span></div>
      <div class="price-item__text">
        <h3>Видео-продакшен</h3>
        <p>Смонтируем автовебы, уроки и остальное. Накинем графику и уберем лишнее</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}