{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<div class="price">
  <h2 class="title">Чем мы можем помочь</h2>
  <div class="price-grid">
    <div class="price-item price-item-sm">
      <div class="price-item__image"><img src="img/price-1.jpg" alt=""><span class="price-item__value">От 380 ₽ / слайд</span></div>
      <div class="price-item__text">
        <h3>Вебинары, гайды</h3>
        <p>Упакуем большой объем информации в доступный формат для спикера и аудитории</p>
      </div>
    </div>
    <div class="price-item price-item-md">
      <div class="price-item__image"><img src="img/price-2.jpg" alt=""><span class="price-item__value">От 450 ₽ / слайд</span></div>
      <div class="price-item__text">
        <h3>Выступления, марафоны, ивенты</h3>
        <p>Создадим удобную для спикера структуру и вау-визуал — все внимание будет вашим</p>
      </div>
    </div>
    <div class="price-item">
      <div class="price-item__image"><img src="img/price-3.jpg" alt=""><span class="price-item__value">От 70 000 ₽</span></div>
      <div class="price-item__text">
        <h3>Онлайн-курсы</h3>
        <p>Сделаем визуал для всех учебных материалов: понятный и запоминающийся</p>
      </div>
    </div>
    <div class="price-item price-item-md">
      <div class="price-item__image"><img src="img/price-4.jpg" alt=""><span class="price-item__value">От 40 000 ₽</span></div>
      <div class="price-item__text">
        <h3>Сайты</h3>
        <p>Максимально быстрая nocode-реализация на тильде с релевантным для аудитории дизайном. Сайты хай-левела на коде тоже делаем</p>
      </div>
    </div>
    <div class="price-item price-item-sm">
      <div class="price-item__image"><img src="img/price-5.jpg" alt=""><span class="price-item__value">От 15 000 ₽</span></div>
      <div class="price-item__text">
        <h3>GetСourse</h3>
        <p>Реализуем любой дизайн и геймификации на платформе</p>
      </div>
    </div>
    <div class="price-item">
      <div class="price-item__image"><img src="img/price-6.jpg" alt=""><span class="price-item__new">NEW</span><span class="price-item__value">От 25 000 ₽</span></div>
      <div class="price-item__text">
        <h3>Видео-продакшен</h3>
        <p>Смонтируем автовебы, уроки и остальное. Накинем графику и уберем лишнее</p>
      </div>
    </div>
  </div>
</div>

<div class="work">
  <h2 class="title">Вам понравится сотрудничество с нами</h2>
  <div class="work-item">
    <h3 class="work-item__title">Максимально адаптивная команда</h3>
    <div class="work-item__text">
      <p>Мы уже 3 года решаем любые задачи, за которые беремся.</p>
      <p>Делаем это качественно и вовремя. Если в команде кого-то не хватает, всегда найдем и реализуем.</p>
    </div>
  </div>
  <div class="work-item">
    <h3 class="work-item__title">Понимаем<br> задачу с полуслова</h3>
    <div class="work-item__text">
      <p>Нам не нужно объяснять что делать, достаточно одного-двух примеров и рассказать о проекте.</p>
    </div>
  </div>
  <div class="work-item">
    <h3 class="work-item__title">Предсказуемый результат</h3>
    <div class="work-item__text">
      <p>Чтобы у вас было понимание, какого уровня выйдет проект и не тратить время зря — сначала мы делаем бесплатную концепцию дизайна.</p>
    </div>
  </div>
  <div class="work-item">
    <h3 class="work-item__title">Высокая<br> скорость<br> работы</h3>
    <div class="work-item__text">
      <p>Опыт работы и количество специалистов в команде позволяет решать ваши задачи с высокой скоростью, при этом не теряя в качестве.</p>
    </div>
  </div>
  <div class="work-item">
    <h3 class="work-item__title">Понятное ценообразование</h3>
    <div class="work-item__text">
      <p>Мы договариваемся о стоимости за единицу контента (слайд, блок и т.д.). Вы платите за проделанный объем. </p>
      <p>Если не хотите считать слайды — всегда можем договориться о фиксе за проделанный объем.</p>
    </div>
  </div>
  <div class="work-item">
    <h3 class="work-item__title">Оперативная обратная связь</h3>
    <div class="work-item__text">
      <p>Мы всегда на связи. При необходимости производство контента не будет останавливаться даже ночью, но за доплату 🤫</p>
    </div>
  </div>
</div>

{% endblock %}