{% extends 'components/_layout.html' %}
{% set site_title = 'BirdLab - Спасибо за доверие' %}
{% set other = true %}

{% block content %}

<div class="thanks">
  <h2 class="title">Спасибо за доверие!<br> Скоро с вами свяжется менеджер</h2>
  <h3>А пока можете подписаться на наш новый telegram-канал.<br> Скоро там будет много интересного.</h3>
  <div class="thanks-btn"><a href="https://t.me/bird_media" target="_blank" class="hover"><span class="back"><span></span></span><p>Подписаться</p></a></div>
</div>

{% endblock %}